.ProseMirror > * + * {
    margin-top: 0.75em;
  }
  
  .ProseMirror{
    padding: 0.2rem 0.5rem;
    border: 1px solid rgb(238, 238, 238);
    outline: none;
    color: #000000;
    background-color: #FFF;
    font-size: 1rem;
    /* width: 95%; */
    overflow: auto;
    height: 250px;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .ProseMirror ul,
  .ProseMirror ol {
    padding: 0 1rem;
  }
  
  .ProseMirror h1,
  .ProseMirror h2,
  .ProseMirror h3,
  .ProseMirror h4,
  .ProseMirror h5,
  .ProseMirror h6 {
    line-height: 1.1;
  }
  
  .ProseMirror code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
  }
  
  .ProseMirror pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }
  
  .ProseMirror pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }
  
  .ProseMirror img {
    max-width: 100%;
    height: auto;
  }
  
  .ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
  }
  
  .ProseMirror hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
  }
  
  .is-active {
    background: rgb(38, 40, 167);
    color: white;
  }

  .btn,
button {
  background-color: transparent;
  border: 1px solid rgb(235, 235, 235);
  /* padding: 0.2rem 0.7rem; */
  border-radius: 5px;
  /* margin: 0rem 0.3rem; */
  cursor: pointer;
  transition: 0.15s all;
}

button:hover {
  background-color: rgb(38, 40, 167);
  color: white;
}